#!/bin/bash

#SBATCH --job-name=single_position_round_alignment
#SBATCH --partition aics_cpu_general
#SBATCH --ntasks-per-node=1
#SBATCH --spread-job
#SBATCH --mem 50G
#SBATCH --output {{ jinja_output }}/round_execution%A_%A.out
#SBATCH --exclude n81, n177
id=$SLURM_ARRAY_TASK_ID

srun /allen/aics/apps/hpc_shared/mod/anaconda3-5.3.0/envs/goutham_registration/bin/python  {{ cwd }}/execute_round_alignment.py --barcode {{ barcode }}  --output_path {{ output_path }}  --position {{ position }} --method {{ method }} --test_save {{ test_save }}






