#!/bin/bash

#SBATCH --job-name=apply_registration
#SBATCH --partition aics_cpu_general
#SBATCH --ntasks-per-node=1
#SBATCH --spread-job
#SBATCH --mem 50G
#SBATCH --output {{ jinja_output }}/apply_alignment_%A_%A.out
id=$SLURM_ARRAY_TASK_ID

srun /allen/aics/apps/hpc_shared/mod/anaconda3-5.3.0/envs/goutham_registration/bin/python  {{ cwd }}/apply_registration.py --input_yaml {{ input_yaml }} --matched_position_w_align_params_csv {{ matched_position_w_align_params_csv }}




